SOURCE_TAPIS_USERNAME=wmobley
SOURCE_TAPIS_PASSWORD=Acacia-wants-to-Computer
DEST_TAPIS_USERNAME=wmobley
DEST_TAPIS_PASSWORD=Acacia-wants-to-Computer

PG_HOST=source-db-host.example.com
PG_PORT=5432
PG_DB=mydb
PG_USER=postgres
PG_PASSWORD=

DEST_PG_HOST=
DEST_PG_PORT=
DEST_PG_DB=
DEST_PG_USER=
DEST_PG_PASSWORD=
